body {
    /*takes good font and applies to all text*/
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header {
    /*size and position of clock*/
    font-size: 50px;
    text-align: center;
}
#black {
    background-color: black;
}

#white {
    background-color: white;
}
section {
    /*large border around outsides*/
    border: 5px solid black;
}

footer {
    /* want footer to stay in one place */
    position: fixed;
    bottom:0;
    background-color: #00003D;
    padding:1%;
    width:100% !important;
    color: white;
    
    text-align:center;
    margin-top: 3% !important;

}

p {
    /*aligns any text with p tag to center*/
    text-align: center;
    color: black;
    font-size: 30px;
}

span {
    /*makes certain text orange*/
    color:orange;
}